<form class="" action="basic.html" method="post">
  <div class="content-section">
  <label for="mass1">Mass 1:</label>
  <input type="number" name="mass1" min="1.0" max="100.0" default=1 placeholder="1"required>
  <label for="len1">Length 1:</label>
  <input type="number" name="len1" min="1.0" max="100.0" default=1 placeholder="1"required>
  <label for="theta1">θ1:</label>
  <input type="number" name="theta1" min="1.0" max="100.0" default=45 placeholder="1"required>
  <label for="grav">g:</label>
  <input type="number" name="grav" min="1.0" max="100.0" default=9.8 placeholder="1"required>
  </div>
  <br>
  <label for="mass2">Mass 2:</label>
  <input type="number" name="mass2" min="1.0" max="100.0" default=1 placeholder="1"required>
  <label for="len1">Length 2:</label>
  <input type="number" name="len1" min="1.0" max="100.0" default=1 placeholder="1"required>
  <label for="theta2">θ2:</label>
  <input type="number" name="theta2" min="1.0" max="100.0" default=45 placeholder="1"required>
</form>
<br>
