<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>prediction</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='basic.css') }}">
  </head>
  <body>
    <header class="site-header">
        <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
          <div class="container">
            <a class="navbar-brand mr-4" href="/">Physics Project</a>
            <a class="nav__link" href="https://github.com/SanyaNanda"><i class="fa fa-github" style="font-size:36px;color:white"> </i></a>
            <a class="nav__link" href="https://www.linkedin.com/in/sanya-nanda-aba12218b/"><i class="fa fa-linkedin-square" style="font-size:36px;color:white"></i></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
  </nav>
  <br>
  <br>
  <br>
  <div class="container">


    <!-- <img src={{ url1 }} alt="Chart" width="400px" height="350px"> -->
    <img src={{ url2 }} alt="Chart">
    </div>

    <!-- <script>
    function showPage(){
    console.log("ok");
    var page2=document.getElementById("page2");
    if(page2.style.display=="none")
        page2.style.display="block";
    else
        page2.style.display="none";
}
</script>
<input type="button" onclick="showPage()" value="show"/>
<iframe id="page2" src="C:\Users\sanya\Desktop\sanya\f\backend\templates\myvideo.html">
  <p>This is an iframe containing new page</p>
</iframe> -->
    <!-- <img src="{{ url_for('static', filename='s1.png') }}" alt="The Force" width="350" height="350" class='center' > -->
    <!-- <img src="/context.gif" alt="my plot">
    {{context}} -->
  </body>
</html>
